<img src="https://raw.githubusercontent.com/dark-teal-coder/dark-teal-coder/main/images/coder-no-background-000-128-128.png" 
     alt="coder-black-background-000-128-128.png" width="100" height="100" align="right" style="margin:0px 5%; padding: 5px;">
<p>
	GitHub: <a href="https://github.com/dark-teal-coder">@dark-teal-coder</a>
	<br />
	First Published Date: 2022-05-13
	<br />
	Last Modified Date: 2022-05-19
</p>

<br />

___

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/dark-teal-coder/freecodecamp-data-analysis-with-python/blob/main/01%20Data%20Analysis%20with%20Python/data_analysis_with_python.ipynb)

# Course: Data Analysis with Python

Each lesson/tutorial will be organized as follows:
- Heading 2: Lesson/Tutorial Title
- YouTube logo <img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> followed by YouTube video title with embedded link to the video 
- Heading 3: Summary
- Lesson summary 
- Heading 3: Lesson
- Contents of the lesson including code and explanations

This notebook is not a direct copy of someone else's notebook or video contents. Summary sections in this notebook are written by <a href="https://github.com/dark-teal-coder">@dark-teal-coder</a>. Lesson sections contain some lines of code and other contents taken from the original [freeCodeCamp](https://www.freecodecamp.org) course but with added comments, concepts, explanations and resources/materials and modified code.

## Introduction to Data Analysis

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Introduction - Data Analysis with Python](https://www.youtube.com/watch?v=VJrP2FUzKP0)

### Summary

In this lesson, the instructor explains what data analysis is and discusses the pros and cons of open and closed data analysis software tools. He also shows the 5 steps of the data analysis process lifecycle (i.e. data extraction, data cleaning, data wrangling, analysis and action) and argues why Python is a preferable tool for data analysts.

### Lesson

Check out the PowerPoint slides in PDF format used in this lesson at [Introduction to Data Analysis.pdf](../assets/Introduction_to_Data_Analysis.pdf).

## Data Analysis Example A

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Data Analysis Example A - Data Analysis with Python](https://www.youtube.com/watch?v=nVAaxZ34khk)

### Summary

In this lesson, the instructor gives a bird's eye view of what data in .csv format looks like and how to process it with some of the most popular Python libraries - Pandas, NumPy and Matplotlib - in Jupyter Notebooks. He walks through [Course 01 Notebook 01](../assets/course_01_notebook_01.ipynb) and shows us what we can do with `pandas`, `numpy` and `matplotlib`.

### Lesson

In order to import non-standard Python packages/libraries into the current program, you must first install the following packages:
- `pandas`
- `numpy`
- `matplotlib`


We can install these packages using the `pip install` or `conda install` command in a command-line interface (CLI) followed by the package name. See below. 

1. Use `pip`:
```
pip install pandas numpy matplotlib
```

2. Use `conda`:
```
conda install pandas numpy matplotlib
```

For more information, check out [pip install documentation](https://pip.pypa.io/en/stable/cli/pip_install/) and [conda install documentation](https://docs.conda.io/projects/conda/en/latest/commands/install.html).

Alternatively, we can also run the `pip install` or `conda install` command in a Jupyter cell using the bang (`!`) operator. 

1. Using `pip`:
```
! pip install --yes pandas numpy matplotlib
```

2. Using `conda`:
```
! conda install --yes pandas numpy matplotlib
```

For more information, check out [Executing Terminal Commands in Jupyter Notebooks](https://anaconda.zendesk.com/hc/en-us/articles/360023858254-Executing-Terminal-Commands-in-Jupyter-Notebooks).

Now, let's dive into some Python code.

In [ ]:
## Import these libraries into the current program
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Use the following magic command to set up `matplotlib` to work interactively with the inline backend enabled for usage with the IPython Notebook. The `inline` backend, provided by IPython, is available for the Jupyter Notebook. With this backend, the output of plotting commands is displayed inline within frontends like the Jupyter notebook, directly below the code cell that produced it. The resulting plots will then also be stored in the notebook document.

In [ ]:
## Show the graphs inline
%matplotlib inline

For more information, check out [%matplotlib section of Built-in magic commands](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-matplotlib) and [Plotting section of Rich Outputs](https://ipython.readthedocs.io/en/stable/interactive/plotting.html#id1).

#### Loading Data

We can load a data file into the notebook using the bang operator (`!`) before the Linux HEAD command. Alternatively, we can also use Excel to open the .csv file for a more visually appealing representation of the data.

In [ ]:
## Get a visual of the data 
!head data/sales_data.csv

The HEAD command is a Linux command so it can only be used in a Linux environment. We will receive an error message if we run the current program with a Windows computer. For more information, check out [Linux Head Command](https://linuxize.com/post/linux-head-command/).

When we work with a new Python library/package, it is important to know that we can look up for comprehensive information on how to use it by consulting, what we call, an [Application Programming Interface (API) reference/documentation](https://www.freecodecamp.org/news/how-to-write-api-documentation-like-a-pro/). For example, [Pandas API reference](https://pandas.pydata.org/docs/reference/index.html) tells what we can do with Pandas objects, functions and methods.

In [ ]:
## Use Pandas to read the .csv data file into the current program
sales = pd.read_csv('../data/sales_data.csv', parse_dates=['Date'])

Check out [pandas.read_csv documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

#### Data at a Glance

In [ ]:
## Take a look at the first few rows of the data
sales.head()

Check out [pandas.DataFrame.head documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html).

In [ ]:
## Get the total number of rows and columns in the data in tuple form
sales.shape

Check out [pandas.DataFrame.shape documentation](https://pandas.pydata.org/pandas-docs/version/1.3.0/reference/api/pandas.DataFrame.shape.html).

In [ ]:
## Print info about the DataFrame including the index dtype and columns, non-null values and memory usage
sales.info()

Check out [pandas.DataFrame.info documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html).

In [ ]:
## Get descriptive statistics of the data
sales.describe()

Check out [pandas.DataFrame.describe documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html).

#### Numerical Analysis and Visualization

We will analyze the 'Unit_Cost' column of the DataFrame in this section.

In [ ]:
## Get descriptive statistics of the column data
sales['Unit_Cost'].describe()

In [ ]:
## Get the mean of the column data
sales['Unit_Cost'].mean()

In [ ]:
## Get the median of the column data
sales['Unit_Cost'].median()

In [ ]:
## Plot a boxplot of the column data
sales['Unit_Cost'].plot(kind='box', vert=False, figsize=(14,6))

In [ ]:
## Plot a Kernel Density Estimation plot of the column data
sales['Unit_Cost'].plot(kind='density', figsize=(14,6))

In [ ]:
## Plot a Kernel Density Estimation plot of the column data 
ax = sales['Unit_Cost'].plot(kind='density', figsize=(14,6))
## Add a vertical line at the mean
ax.axvline(sales['Unit_Cost'].mean(), color='red')
## Add a vertical line at the median
ax.axvline(sales['Unit_Cost'].median(), color='purple')

In [ ]:
## Plot a histogram of the column data
ax = sales['Unit_Cost'].plot(kind='hist', figsize=(14,6))
## Add the X label
ax.set_ylabel('Number of Sales')
## Add the Y label
ax.set_xlabel('Dollars')

#### Categorical Analysis and Visualization

We will analyze the 'Age_Group' column of the DataFrame in this section.

In [ ]:
## Get counts of unique values in the column data
sales['Age_Group'].value_counts()

In [ ]:
## Get counts of unique values in the column data and then, plot a pie chart of the counts
sales['Age_Group'].value_counts().plot(kind='pie', figsize=(5,5))

In [ ]:
## Get counts of unique values in the column data and plot a bar chart of the counts 
ax = sales['Age_Group'].value_counts().plot(kind='bar', figsize=(14,6))
## Set the Y label of the chart 
ax.set_ylabel('Number of Sales')

#### Relationship between Columns

In [ ]:
## Get the correlation between the columns in the data
corr = sales.corr()
print(corr)

Consult [matplotlib.pyplot documentation](https://matplotlib.org/3.5.0/api/pyplot_summary.html) for some of the following `matplotlib` functions and methods in this section.

In [ ]:
## Plot a heatmap of the correlation above

## Create a new figure 
fig = plt.figure(figsize=(8,8))
## Draw and display an array representing the correlation as a matrix with the given number using a color map
plt.matshow(corr, cmap='RdBu', fignum=fig.number)
## Set the tick locations of the x-axis according to the tick labels
plt.xticks(range(len(corr.columns)), corr.columns, rotation='vertical');
## Set the tick locations of the y-axis according to the tick labels
plt.yticks(range(len(corr.columns)), corr.columns);

For more colormaps included with Matplotlib, check out [Colormap reference](https://matplotlib.org/stable/gallery/color/colormap_reference.html).

In [ ]:
## Draw a scatter plot of the two columns in the data
sales.plot(kind='scatter', x='Customer_Age', y='Revenue', figsize=(6,6))

In [ ]:
## Draw a scatter plot of the two columns in the data
sales.plot(kind='scatter', x='Revenue', y='Profit', figsize=(6,6))

In [ ]:
## Make a box plot from DataFrame columns
ax = sales[['Profit', 'Age_Group']].boxplot(by='Age_Group', figsize=(10,6))
ax.set_ylabel('Profit')

In [ ]:
## Make separate sub-boxplots for each column in the data
boxplot_cols = ['Year', 'Customer_Age', 'Order_Quantity', 'Unit_Cost', 'Unit_Price', 'Profit']
sales[boxplot_cols].plot(kind='box', subplots=True, layout=(2,3), figsize=(12,6))

## Data Analysis Example B

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Data Analysis Example B - Data Analysis with Python](https://www.youtube.com/watch?v=0kJz0q0pvgQ)

### Summary

In this lesson, the instructor demonstrates how to transform and manipulate DataFrame columns and make plots from the new columns. Check out [Course 01 Hands-on](../assets/course_01_hands-on.ipynb) for the original Jupyter notebook.

### Lesson

#### Column Wrangling

> *Definition*: Data wrangling is the process of transforming or manipulating data in order to gain more insight into the data.

Sometimes, data is not represented in the way we intend it to be. As such, we can transform and manipulate columns of the DataFrame to gain some insight into the data.

Use the following formula to calculate a new column: 
$$ Revenue\ per \ Age = Revenue \div Customer\ Age $$

In [ ]:
## Calculate and add a new column in the data
sales['Revenue_per_Age'] = sales['Revenue'] / sales['Customer_Age']
sales['Revenue_per_Age'].head()

In [ ]:
## Make a Kernel Density Estimation plot from the new column
sales['Revenue_per_Age'].plot(kind='density', figsize=(14,6))

In [ ]:
## Plot a histogram from the new column
sales['Revenue_per_Age'].plot(kind='hist', figsize=(14,6))

Use the following formula to calculate a new column: 
$$ Calculated\ Cost = Order\ Quantity \times Unit\ Cost $$

In [ ]:
## Calculate and add a new column in the data
sales['Calculated_Cost'] = sales['Order_Quantity'] * sales['Unit_Cost']
sales['Calculated_Cost'].head()

In [ ]:
## Check if 2 data columns align
(sales['Calculated_Cost'] != sales['Cost']).sum()

We can see the relationship between 2 data columns using a scatter plot.

In [ ]:
## Make a scatter plot of the two columns in the data
sales.plot(kind='scatter', x='Calculated_Cost', y='Profit', figsize=(6,6))

Use the following formula to calculate a new column: 
$$ Calculated\ Revenue = Cost + Profit $$

In [ ]:
## Calculate and add a new column in the data
sales['Calculated_Revenue'] = sales['Cost'] + sales['Profit']
sales['Calculated_Revenue'].head()

In [ ]:
## Check if 2 data columns align
(sales['Calculated_Revenue'] != sales['Revenue']).sum()

In [ ]:
## Plot a histogram of the new column in the data
sales['Revenue'].plot(kind='hist', bins=100, figsize=(14,6))

We can make a quick change to all the values in a column in just one line. For example, we will add a 3% tax to all the values in the 'Unit_Price' column.

In [ ]:
print(f"Before tax:\n{sales['Unit_Price'].head()}")

In [ ]:
## Multiply each value in the column by 1.03 (30% increase)
# sales['Unit_Price'] = sales['Unit_Price'] * 1.03
sales['Unit_Price'] *= 1.03

In [ ]:
print(f"After tax:\n{sales['Unit_Price'].head()}")

#### Selection & Indexing

We can filter data. See the applications below.

**Syntax**:
```python
DataFrame.loc[DataFrame['column_name'] == 'value']
```
This will allow us to select all rows where the value of the column is equal to the value we specify.

E.g. Get all the sales made in the state of "Kentucky"

In [ ]:
## Select the rows where the column 'State' is equal to 'Kentucky'
sales.loc[sales['State'] == 'Kentucky']

**Syntax**:
```python
DataFrame.loc[DataFrame['column_name_1'] == 'value', 'column_name_2']
```
This will allow us to select the entire column based on the 2nd label where the value of the column with the 1st label is equal to the value we specify.

E.g. Get the mean revenue of the "Adults (35-64)" sales group

In [ ]:
sales.loc[sales['Age_Group'] == 'Adults (35-64)', 'Revenue'].mean()

**Syntax**:
```python
DataFrame.loc[DataFrame['column_name_1'] == 'value_1' | DataFrame['column_name_2'] == 'value_2']
```
This will allow us to select the rows where the values in column 1 are equal to value 1 or the values in column 2 are equal to value 2.

E.g. Check how many records belong to age group "Youth (<25)" or "Adults (35-64)"

In [ ]:
sales.loc[(sales['Age_Group'] == 'Youth (<25)') | (sales['Age_Group'] == 'Adults (35-64)')].shape[0]

**Syntax**:
```python
DataFrame.loc[DataFrame['column_name_1'] == 'value_1' & DataFrame['column_name_2'] == 'value_2', 'column_name_3']
```
This will allow us to select the column where the values in column 1 are equal to value 1 and the values in column 2 are equal to value 2.

E.g. Get the mean revenue of the sales group "Adults (35-64)" in "United States"

In [ ]:
sales.loc[(sales['Age_Group'] == 'Adults (35-64)') & (sales['Country'] == 'United States'), 'Revenue'].mean()

**Syntax**:
```python
DataFrame.loc[DataFrame['column_name_1'] == 'value_1', 'column_name_2'] + Arithmetic Operator + Operand
```
This will allow us to perform arithmetic operations on all the values of an entire DataFrame column.

E.g. Increase the revenue by 10% to every sale made in "France"

In [ ]:
print(f"Before 10% increase:\n{sales.loc[sales['Country'] == 'France', 'Revenue'].head()}")
# sales.loc[sales['Country'] == 'France', 'Revenue'] = sales.loc[sales['Country'] == 'France', 'Revenue'] * 1.1
sales.loc[sales['Country'] == 'France', 'Revenue'] *= 1.1
print(f"After 10% increase:\n{sales.loc[sales['Country'] == 'France', 'Revenue'].head()}")

## How to Use Jupyter Notebooks Intro

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [How to use Jupyter Notebooks Intro - Data Analysis with Python Course](https://www.youtube.com/watch?v=h8caJq2Bb9w)

### Summary

In this lesson, the instructor introduces the original web application for computational documents called [Jupyter Notebook](https://jupyter.org/) and its latest interactive development environment (IDE) called [JupyterLab](https://jupyter.org/). [notebooks.ai](https://notebooks.ai/) and [Google Colab](https://colab.research.google.com/) are cloud-based alternatives to the classic Jupyter Notebook. No installation is required. Then, he explains the interface of Jupyter Notebook and illustrates what contents we can add to Jupyter's cells.

### Lesson

Jupyter Notebook allows us to create computational documents. Simply put, computational documents let us write plain-text documents (similar to Notepad documents), formatted-text documents (similar to Microsoft Word documents) but using [Markdown](https://www.markdownguide.org/) syntax and [Markup](https://www.datacamp.com/tutorial/markdown-in-jupyter-notebook) tags, and most importantly, we can write and run code in the documents! When we run certain code involving data and graphs, it can read data from databases and spreadsheets and display inline graphs plotted from the data.

Jupyter Notebook is made of cells. Cells are where we write code and texts. We use different types of cells for code and texts. When we start Jupyter Notebook, there will already be one cell highlighted in blue vertical tab. We can also create a new one. 

To create a new cell, follow the steps below:

1. Click `[Insert]` from the menu bar 
2. Click `[Insert Cell Above]` or `[Insert Cell Below]`

See the image below.

<p align="center">
	<img src="../assets/insert-cells.png" alt="insert-cells.png" width="40%" height="40%">
</p>

There are altogether 3 main types of Jupyter cells. Three types of cells are: 

1. Markdown (Markup allowed)
2. Code
3. Raw

When creating a new cell, the default cell type will be assigned to it but we can also change the cell type by clicking on the second last dropdown list in the toolbar (see the image below). Jupyter Notebook application will let you create a "Heading" cell type but it is just a markdown cell. 

<p align="center">
	<img src="../assets/jupyter-cell-types.png" alt="jupyter-cell-types.png" width="50%" height="50%">
</p>

If we want to write Markdown and Markup languages, we should choose "Markdown" cell; if we want to write some Python code, we should use "Code" cell. If we choose the incorrect cell type, an error message will be prompted immediately below the cell. Both cell types can be changed to "Raw" type. Running "Raw" cells containing syntax and/or runtime errors will not generate errors. Jupyter will render "Markdown" cells and execute "Code" cells when we run them. 

To run a cell or cells, follow the steps below: 

1. Click `[Cell]` from the menu bar 
2. Click `[Run Cells]`

See the image below. 

<p align="center">
	<img src="../assets/run-cells.png" alt="run-cells.png" width="30%" height="30%">
</p>

## Jupyter Notebooks Cells

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [How to use Jupyter Notebooks | Cells - Data Analysis with Python Course](https://www.youtube.com/watch?v=5PPegAs9aLA)

### Summary

In this lesson, the instructor mentions how to convert notebooks into other file formats to submit as a report and demonstrates how to use keyboard shortcuts in different modes to help us work more efficiently.

### Lesson

Jupyter Notebook allows us to convert .ipynb notebooks into other document types, e.g., PDF (.pdf) and HTML (.html). 

To convert the .ipynb notebook to another document type, follow the steps below:

1. Click `[File]` from the menu bar 
2. Click `[Download as]`
3. Choose the file format

See the image below. 

<p align="center">
	<img src="../assets/jupyter-rendered-doc-types.png" alt="jupyter-rendered-doc-types.png" width="40%" height="40%">
</p>

Jupyter Notebook has a [modal user interface](https://realpython.com/lessons/edit-mode-vs-command-mode/#:~:text=There%20are%20two%20modes%3A%20Edit,not%20type%20into%20individual%20cells.) meaning that the keyboard shortcuts do different things depending on which mode is on.

Two modes of Jupyter Notebook:
1. Edit mode
2. Command mode 

Some shortcuts can be used in both modes while the other shortcuts can only be used in either one mode. Find out more about Juppyter shortcuts at [Jupyter Notebook Shortcuts](https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330).

## Jupyter Notebooks Importing and Exporting Data

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [How to use Jupyter Notebooks | Importing and Exporting Data - Data Analysis with Python Course](https://www.youtube.com/watch?v=k1msxD3JIxE)

### Summary

In this lesson, the instructor shows a number of applications on how to use popular Python libraries to work with data. Some libraries are to import data from different sources into the current program while others to export processed data to certain file formats. Some comments, concepts, explanations and resources/materials have been added to the original notebook [Course 01 Notebook 02](../assets/course_01_notebook_02.ipynb) and the original code has been modified and recompiled below.

### Lesson

We will try out a few lines of code using some popular Python libraries in Data Science in this lesson. Here is the list of most popular Python libraries in Data Science and Data Analysis:

- [Pandas](https://pandas.pydata.org/)
- [NumPy](https://numpy.org/)
- [Matplotlib](https://matplotlib.org/)
- [Seaborn](https://seaborn.pydata.org/)
- [Scikit-learn](https://scikit-learn.org/)
- [SciPy](https://www.scipy.org/)
- [TensorFlow](https://www.tensorflow.org/)

#### Data Visualization

Most popular Python libraries:

* For array manipulation and numeric computing: `numpy`
* For data visualization: `matplotlib`

We can use NumPy to generate numeric data and perform complex mathematical operations on it and then, use Matplotlib to visualize the data.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
## Show the graphs inline
%matplotlib inline

In [ ]:
## Generate a certain number of numeric data from a range of values
# print(np.linspace(0, 9, 10, retstep=True))
x = np.linspace(0, 10, 500)
## Get the cumulative sum of the randomly generated array of the size (m, n) along axis 0 (rows)
# print(np.random.randn(2, 3))
y = np.cumsum(np.random.randn(500, 6), 0)
## Create a new figure
plt.figure(figsize=(12, 7))
## Plot y against x as lines
plt.plot(x, y)
## Place a legend in the top left corner
plt.legend('ABCDEF', ncol=2, loc='upper left')

#### Cryptocurrency Prices from a Public API

Most popular Python libraries:

* For making HTTP requests: `requests`
* For data manipulation and analysis: `pandas`

We can use Requests to obtain data through HTTP protocol and then, use Pandas to manipulate the data.

In [ ]:
import requests
import pandas as pd
# import sys

Check out [Requests Quickstart documentation](https://docs.python-requests.org/en/latest/user/quickstart/).

Below is a function that simplifies the process of importing data from [Cryptowatch](https://cryptowat.ch) - a cryptocurrency charting and trading platform. For more information, check out their [Market Data REST API](https://cryptowat.ch/docs/api). To test HTTP requests and responses, use [httpbin.org](https://httpbin.org).

In [ ]:
def get_historic_prices(crypto_code, exchange='bitfinex', after='2018-09-01'):
	## Cryptowatch's OHLC Candlesticks: https://docs.cryptowat.ch/rest-api/markets/ohlc
	## Cryptowatch base-quote pair: https://docs.cryptowat.ch/rest-api/pairs
	url = 'https://api.cryptowat.ch/markets/{exchange}/{base}usd/ohlc'.format(base=crypto_code, exchange=exchange)
	## pd.Timestamp().timestamp() to return a float of the number of seconds elapsed since the Unix epoch
	resp = requests.get(url, params={
		'periods': '3600',
		'after': str(int(pd.Timestamp(after).timestamp())) 
		})
	try: 
		resp.raise_for_status()
	except requests.exceptions.HTTPError as http_err:
		# sys.exit(f"An HTTP error occurred:\n{http_err}")
		raise SystemExit(f"An HTTP error occurred:\n{http_err}")
	# print(resp.url)
	## Use JSON to parse the response
	price_data = resp.json()
	## Create a DataFrame from the JSON data
	# print(f"price_data['result']:\n{price_data['result']}")
	df_prices = pd.DataFrame(price_data['result']['3600'], columns=[
		'CloseTime', 'OpenPrice', 'HighPrice', 'LowPrice', 'ClosePrice', 'Volume', 'NA'])
	# print(f"df_prices:\n{df_prices}")
	## Convert seconds in the 'CloseTime' column to datetime object type
	df_prices['CloseTime'] = pd.to_datetime(df_prices['CloseTime'], unit='s')
	df_prices.set_index('CloseTime', inplace=True)
	return df_prices

For more information, here are some relevant posts to read to enhance your understanding of the concepts of HTTP requests and REST API. 

- Understanding the basics of how HTTP requests work 
  - Read [How HTTP requests work](https://flaviocopes.com/http-request/)
- Understanding what REST API is
  - Read [An introduction to REST APIs](https://flaviocopes.com/rest-api/)

Pull Bitcoin and Ethereum data, two of the most popular cryptocurrencies, for the last 7 days.

In [ ]:
## Get Timestamp of last week from now 
last_week = (pd.Timestamp.now() - pd.offsets.Day(7))
print(f"Data from {last_week} to {pd.Timestamp.now()}")
## docs.cryptowat.ch/rest-api/ for other supported exchanges
df_btc = get_historic_prices('btc', 'bitstamp', after=last_week)
df_eth = get_historic_prices('eth', 'bitstamp', after=last_week)

In [ ]:
print(df_btc.head())
print(df_eth.head())

In [ ]:
## Plot the close prices of the Bitcoin 
df_btc['ClosePrice'].plot(figsize=(15, 7))

In [ ]:
## Plot the close prices of the Ethereum
df_eth['ClosePrice'].plot(figsize=(15, 7))

#### Dynamic Plots with Bokeh

Most popular Python libraries:

* For interactive data visualization: `bokeh`

We can use Bokeh to make interactive plots which can be manipulated right within our browser.

In [ ]:
from bokeh.plotting import figure, output_file, show
from bokeh.io import output_notebook

The `output_notebook()` command is used to display Bokeh plots in output cells of Jupyter notebooks. Without it, the output graph will be displayed as a webpage.

In [ ]:
## Display the plot in the output cell below the code
output_notebook()
## Display the plot as an HTML file
# output_file("Closing Prices of Crypto.html")

In [ ]:
plot = figure(x_axis_type="datetime", title="Crypto Prices", width=720, height=480)
## Grid line opacity level from 0 (transparent) to 1 (not transparent)
plot.grid.grid_line_alpha=0.3
## Set X and Y labels 
plot.xaxis.axis_label = 'Date'
plot.yaxis.axis_label = 'Price'
## Plot lines for the Bitcoin and Ethereum
plot.line(df_btc.index, df_btc['ClosePrice'], color='#008080', legend='Bitcoin')
plot.line(df_eth.index, df_eth['ClosePrice'], color='#8F00FF', legend='Ethereum')
## Legend location
plot.legend.location = "top_left"

show(plot)

Check out [bokeh.plotting.figure.Figure documentation](https://docs.bokeh.org/en/2.4.1/docs/reference/plotting/figure.html).

Try clicking buttons in the top right corner of the graph and moving the graph around.

#### Exporting to Excel with Pandas

Having processed the data and generated some graphs based on the data above, it is now time to export the data to Excel as a report. By virtue of Pandas, working with Excel, or other formats, has become very handy.

In [ ]:
import os
import pandas as pd

In [ ]:
## Create the output folder if it does not exist already
path = "../output/"
if not os.path.exists(path): 
	os.makedirs(path)

In [ ]:
## Excel writer for writing DataFrame objects into excel sheets
writer = pd.ExcelWriter(path + 'Crypto Prices.xlsx')

We write our Bitcoin and Ether data as separate sheets.

In [ ]:
df_btc.to_excel(writer, sheet_name='Bitcoin')
df_eth.to_excel(writer, sheet_name='Ethereum')

Finally, we need save the file.

In [ ]:
writer.save()

After saving the file, we will be able to see the output Excel file in the 'output' folder. 

*Before running the code*: 

<p align="center">
	<img src="../assets/before-excel-output.png" alt="before-excel-output.png" width="50%" height="50%">
</p>

*After running the code*: 

<p align="center">
	<img src="../assets/after-excel-output.png" alt="after-excel-output.png" width="50%" height="50%">
</p>

#### Final Words

Notebooks.ai is still in its early stage. If there are any feedback or suggestions, please create an issue at this repo: [github.com/notebooks-ai/notebooks-help](https://github.com/notebooks-ai/notebooks-help).

## Numpy Introduction A

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Numpy Introduction A - Data Analysis with Python Course](https://www.youtube.com/watch?v=P-JjV6GBCmk)

### Summary

In this lesson, the instructor briefly describes how NumPy has existed for a long time and explains why it is preferred over native Python in data processing and analysis at a lower level. In general, NumPy datatypes tend to use less memory than native Python datatypes and hence are more efficient when used to process a huge amount of data.

### Lesson

NumPy stands for Numerical Python. It is an essential scientific computing library in Python. Many other scientific Python libraries, such as Pandas and Matplotlib, rely on it. 

Major NumPy contributions are:

* Efficient numeric computation with C primitives
* Efficient collections with vectorized operations
* An integrated and natural Linear Algebra API
* A C API for connecting NumPy with libraries written in C, C++, or FORTRAN

In Python, everything is an object, which means that even simple "ints" are also objects, with all the required machinery to make objects work. We call them "Boxed Ints". In contrast, NumPy uses primitive numeric types (e.g., floats, ints, etc.) which makes storing and computation efficient.

<p align="center">
	<img src="../assets/python-versus-numpy-datatypes.png" alt="python-versus-numpy-datatypes.png" width="60%" height="60%">
</p>

## Numpy Introduction B

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Numpy Introduction B - Data Analysis with Python Course](https://www.youtube.com/watch?v=YIqgrNLAZkA)

### Summary

In this lesson, the instructor continues, from the previous lesson, to explains how NumPy datatypes consume less storage space and is therefore more efficient using a few lines of code and a storage diagram.

### Lesson

Our computers use the binary system. Computers can only understand 0 and 1. They store data as binaries in memory. A series of 0 and 1 is used to represent a character or a number. The following diagram represents memory spaces in computers. Either `0` or `1` will be stored in each of the storage space/box below. 

<p align="center">
	<img src="../assets/bit-byte-memory-spaces.png" alt="bit-byte-memory-spaces.png" width="40%" height="40%">
</p>

For example, `101` refers to the number 5 (2^0 × 1 + 2^1 × 0 + 2^2 × 1 = 5).

<p align="center">
	<img src="../assets/binary-reps.png" alt="binary-reps.png" width="20%" height="20%">
</p>

RAM: 8GB = 8,192MB = 8,388,608KB = 8,589,934,592B (bytes) = 68,719,476,736b (bits)

With NumPy, we can specify how many bits we want to allocate to create an integer, for example.

In [ ]:
## Import NumPy into the current program
import numpy as np

In [ ]:
## 8-bit NumPy integer
np.int8(1)

In [ ]:
## 16-bit NumPy integer
np.int16(1)

In [ ]:
## 32-bit NumPy integer
np.int32(1)

In [ ]:
## 64-bit NumPy integer
np.int64(1)

## Numpy Arrays

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Numpy Arrays - Data Analysis with Python Course](https://www.youtube.com/watch?v=VDYVFHBL1AM)

### Summary

In this lesson, the instructor starts introducing one of the most essential NumPy datatypes - the NumPy array. NumPy arrays allow indexing and slicing of data, similar to Python lists. We can also specify the data types of NumPy arrays when we create them. Similar to nested lists, NumPy arrays can be multi-dimensional but their assignment is more handy. NumPy arrays also come with some simple methods to obtain the summary statistics of the data.

### Lesson

In [ ]:
## Import libraries into the current program
import sys
import numpy as np

#### Basic Numpy Arrays

In [ ]:
## Basic NumPy array representation
np.array([1, 2, 3, 4, 5])

In [ ]:
## Store arrays in variables
a = np.array([1, 2, 3, 4, 5])
b = np.array([0, .5, 1, 1.5, 2])

Indexing:

In [ ]:
## Access elements in arrays
print(a[0], a[1])
print(b[0], b[2], b[-1])

Slicing:

In [ ]:
## Slicing the array
a[1:3]

In [ ]:
## 0 to refer to the 1st element of the array
a[0:]

In [ ]:
## Use negative indexing 
## -1 to refer to the last element of the array
a[1:-1]

In [ ]:
## Add step in slicing
a[::2]

In [ ]:
## Parse a list of element indexes to select elements
b[[0, 2, -1]]

#### Array Types

In [ ]:
print(a)
a.dtype

In [ ]:
print(b)
b.dtype

We can specify the data type when creating a new NumPy array.

In [ ]:
## Convert integers to floating point numbers
np.array([1, 2, 3, 4, 5], dtype=np.float64)

In [ ]:
## Use smaller NumPy integer type  
np.array([1, 2, 3, 4, 5], dtype=np.int8)

See what data type NumPy uses to store strings and other objects.

In [ ]:
## byte order < as small end; data type U as unicode; data size 1 as bit length 
c = np.array(['a', 'b', 'c'])
c.dtype

In [ ]:
## 'O' for Python objects 
d = np.array([{'a': 1}, sys])
d.dtype

Check out [Data type objects (dtype) documentation](https://numpy.org/doc/stable/reference/arrays.dtypes.html).

#### Dimensions and Shapes

We have looked at one-dimensional arrays above. Now, we will investigate multi-dimensional arrays.

In [ ]:
## 2-dimensional NumPy array
A = np.array([
    [1, 2, 3],
    [4, 5, 6]
])

print(A)

In [ ]:
A.dtype

In [ ]:
## Number of rows and columns of the array
A.shape

In [ ]:
## Dimension of the array
A.ndim

In [ ]:
## How many elements are there altogether in the array
A.size

In [ ]:
## 3-dimensional NumPy array
B = np.array([
    [
        [12, 11, 10],
        [9, 8, 7]
    ],
    [
        [6, 5, 4],
        [3, 2, 1]
    ]
])

print(B)

In [ ]:
B.dtype

In [ ]:
## Lengths of the corresponding array dimensions
B.shape

In [ ]:
## Dimension of the array
B.ndim

In [ ]:
## How many elements are there altogether in the array
B.size

If the shape is inconsistent, it will just fall back to regular Python objects.

In [ ]:
C = np.array([
    [
        [12, 11, 10],
        [9, 8, 7]
    ],
    [
        [6, 5, 4]
    ]
])

In [ ]:
C.dtype

In [ ]:
C.shape

In [ ]:
C.ndim

In [ ]:
C.size

In [ ]:
type(C[0])

In [ ]:
type(C[1])

#### Indexing and Slicing of Matrices

In [ ]:
## Square matrix
A = np.array([
#    0. 1. 2
    [1, 2, 3], # 0
    [4, 5, 6], # 1
    [7, 8, 9]  # 2
])

print(A)

##### Indexing

In [ ]:
A[1]

In [ ]:
## Select the 1st item of the 2nd item from the 1st dimension
A[1][0]

We can use comma separated indexes to specify the dimensions of the array. For instance, `A[d1, d2, d3,...]` will select the element at the index `d1` from the 1st dimension and within this element, select the element at `d2` position, and so on.

In [ ]:
## Select the 1st item of the 2nd item from the 1st dimension
A[1, 0]

##### Slicing

In [ ]:
## Select rows 0 and 1 (stop before row 2)
A[0:2]

In [ ]:
## Select all the elements from the 1st dimension and elements at indexes 0 and 1 within these elements
A[:, :2]

In [ ]:
## Select elements at indexes 0 and 1 from the 1st dimension and elements at indexes 0 and 1 within these elements
A[:2, :2]

In [ ]:
## Select elements at indexes 0 and 1 from the 1st dimension and elements starting at index 2 within these elements
A[:2, 2:]

##### Assignment

In [ ]:
print(A)
## Replace 2nd array with the following 1-dimensional array
A[1] = np.array([10, 10, 10])
print(A)
## NumPy will auto-replace every element in 1st-dimensional array at index 2 
A[2] = 99
print(A)

#### Summary Statistics

##### 1-dimensional Arrays

In [ ]:
a = np.array([1, 2, 3, 4])

In [ ]:
## Calculate the sum of array elements
a.sum()

In [ ]:
## Compute the arithmetic mean
a.mean()

In [ ]:
## Compute the standard deviation
a.std()

In [ ]:
## Compute the variance
a.var()

##### 2-dimensional Arrays

In [ ]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

In [ ]:
## Calculate the sum of array elements
A.sum()

In [ ]:
## Compute the arithmetic mean
A.mean()

In [ ]:
## Compute the standard deviation
A.std()

We can specify the axis along which we want to compute the summary statistics.

In [ ]:
## Sum of elements over the vertical axis
A.sum(axis=0)

In [ ]:
## Sum of elements over the horizontal axis
A.sum(axis=1)

In [ ]:
## Mean of elements over the vertical axis
A.mean(axis=0)

In [ ]:
# Mean of elements over the horizontal axis
A.mean(axis=1)

In [ ]:
# Standard deviation of elements over the vertical axis
A.std(axis=0)

In [ ]:
# Standard deviation of elements over the horizontal axis
A.std(axis=1)

## Numpy Operations

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Numpy Operations - Data Analysis with Python Course](https://www.youtube.com/watch?v=eqSVcJbaPdk)

### Summary

In this lesson, the instructor introduces some basic arithemetic operations on NumPy arrays. However, the current notebook will also show some basic assignment operations on NumPy arrays and how fast some NumPy operations are.

### Lesson

#### Broadcasting and Vectorized Operations

In [ ]:
import numpy as np

In [ ]:
a = np.arange(1, 6)
print(a)

Arithemetic operations will be applied to every single element of the NumPy arrays. See below.

In [ ]:
print(a + 10)
print(a - 1)
print(a * 10)
print(a / 10)

There is no assignment above so the original array is not modified.

In [ ]:
print(a)

To modify the array, we can use [Python Assignment Operators](https://www.w3schools.com/python/gloss_python_assignment_operators.asp). See below.

In [ ]:
a += 100
print(a)
a -= 100
print(a)
a *= 100
print(a)
a //= 100
print(a)

In Python, [list comprehensions are faster than the equivalent for-loops](https://wiki.python.org/moin/PythonSpeed/PerformanceTips#Loops). However, NumPy arrays are even faster than list comprehensions when we operate on large numbers (about the same time if operating on small numbers). We can use the Python built-in library `timeit` to measure the performance of a small code snippet. Check out [timeit documentation](https://docs.python.org/3/library/timeit.html).

In [ ]:
import timeit
import numpy as np

In [ ]:
## Use arithemetic operations directly on NumPy arrays
arr_a = np.arange(1, 6)
arr_b = np.array([10, 10, 10, 10, 10])
arr_a + arr_b

In [ ]:
## Measure the speed of list comprehensions
setup_code = '''
num_list = [0, 10, 20, 30, 40]
'''
print(timeit.timeit("[i * 1_000_000 for i in num_list]", setup=setup_code))

In [ ]:
## Measure the speed of array operations
setup_code = '''
import numpy as np
arr_a = np.arange(0, 50, 10)
'''
print(timeit.timeit("arr_a * 1_000_000", setup=setup_code))
setup_code = '''
import numpy as np
arr_a = np.arange(0, 50, 10)
arr_b = np.array([1_000_000, 1_000_000, 1_000_000, 1_000_000, 1_000_000])
'''
print(timeit.timeit("arr_a * arr_b", setup=setup_code))

## Numpy Boolean Arrays

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Numpy Boolean Arrays - Data Analysis with Python Course](https://www.youtube.com/watch?v=N1ttsMmcVMM)

### Summary

In this lesson, the instructor demonstrates how we can use boolean arrays as selection criteria to select elements from NumPy arrays. When we use comparison and logical operators with an array, it will create a boolean array. We can then use this boolean array as a condition to filter another array.

### Lesson

#### Boolean Arrays

In [ ]:
## Create a new array 
a = np.arange(4)
print(a)

We can select array elements using boolean arrays.

In [ ]:
## Select array elements by indexing
print(a[0], a[-1])
## Select array elements using list of indexes
print(a[[0, -1]])
## Select array elements using boolean array
print(a[[True, False, False, True]])

In [ ]:
## Check if the array has been modified 
print(a)

Using [Python Comparison Operators](https://www.w3schools.com/python/gloss_python_comparison_operators.asp) will generate boolean arrays. Then, we can use the boolean array as the selection criterion on another array.

In [ ]:
## Generate a boolean array
print(a >= 2)
## Select array elements using the boolean array
print(a[a >= 2])

We can use a method or function to obtain a value to be used as part of boolean array creation.

In [ ]:
## Use the mean() method to get the mean value of the array
a[a > a.mean()]

The `~` operator can be used as a shorthand for `np.invert` on ndarrays.

In [ ]:
## Negate the boolean array
a[~(a > a.mean())]

The `|` operator can be used as a shorthand for `np.logical_or` on boolean ndarrays.

In [ ]:
a[(a == 0) | (a == 1)]

The `&` operator can be used as a shorthand for `np.logical_and` on boolean ndarrays.

In [ ]:
a[(a <= 2) & (a % 2 == 0)]

##### Matrix

In [ ]:
## Generate a random array/matrix
A = np.random.randint(100, size=(3, 3))
print(A)

In [ ]:
## Boolean array/matrix
A[np.array([
    [True, False, True],
    [False, True, False],
    [True, False, True]
])]

In [ ]:
## Generate a boolean array/matrix
print(A > 30)
## Select array/matrix elements using the boolean array/matrix
print(A[A > 30])

## Numpy Algebra and Size

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Numpy Algebra and Size - Data Analysis with Python Course](https://www.youtube.com/watch?v=XAT97YLOKD8)

### Summary

In this lesson, we will learn basic algebraic operations on NumPy arrays and check how much memory native Python objects and NumPy objects take. At the end of the lesson, there will also be an optional section introducing useful NumPy functions.

### Lesson

#### Linear Algebra

In [ ]:
import numpy as np

In [ ]:
## Create NumPy arrays to represent matrixes
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
B = np.array([
    [6, 5],
    [4, 3],
    [2, 1]
])

NumPy contains both an array class and a matrix class. The array class is intended to be a general-purpose n-dimensional array for many kinds of numerical computing, while matrix is intended to facilitate linear algebra computations specifically. In practice there are only a handful of key differences between the two.

Operators `*` and `@` and functions `dot()` and `multiply()`:
- Array
  - `*` and `multiply()` = element-wise multiplication
  - `@` and `dot()` = matrix multiplication
- Matrix
  - `*` = matrix multiplication
  - `multiply()` = element-wise multiplication

Before Python 3.5, `@` did not exist and one had to use `dot()` for matrix multiplication. See [NumPy for MATLAB users](https://numpy.org/devdocs/user/numpy-for-matlab-users.html).

In [ ]:
## Compute the dot product of two matrixes
A.dot(B)

In [ ]:
## Same result as dot()
A @ B

In [ ]:
## Transposed matrix
B.T

In [ ]:
## A not yet modified 
A

The requirement for matrix multiplication is that the number of columns of the first matrix must be equal to the number of rows of the second matrix.

In [ ]:
## Matrix multiplication using NumPy
B.T @ A

#### Size of Objects in Memory

In [ ]:
import sys
import numpy as np

##### `int` and `float`

In Python 3, the `long` integer type was merged into the `int` type. Therefore, Python 3 does not have the `long` type. Instead, `int` itself allows large values (limited only by available memory); in effect, Python 2's `long` was renamed to `int`. See [Unification of int and long](https://portingguide.readthedocs.io/en/latest/numbers.html#unification-of-int-and-long).

In [ ]:
print(f"An integer in Python is {sys.getsizeof(1)} bytes.")
print(f"A long integer in Python is {sys.getsizeof(10**100)} bytes.")

NumPy numeric types are much smaller.

In [ ]:
print(f"A NumPy integer is {np.dtype(int).itemsize} byte(s) by default.")
print(f"A NumPy float is {np.dtype(float).itemsize} byte(s) by default.")

In [ ]:
## 8-bit integer
print(f"A NumPy 8-bit integer is {np.dtype(np.int8).itemsize} byte(s).")

##### `list`

In [ ]:
## Single-element list
sys.getsizeof([1])

In [ ]:
## Single-element NumPy array 
np.array([1]).nbytes

##### Performance

In [ ]:
## Create a list
l = list(range(100000))

In [ ]:
## Create a NumPy array
a = np.arange(100000)

`%time` is a magic command built into the IPython kernel. It is not part of Python code so it does not work in .py files.

In [ ]:
%time sum([x ** 2 for x in l])

In [ ]:
%time np.sum(a ** 2)

#### Useful Numpy Functions

In [ ]:
import numpy as np

##### Randomized Arrays with `random()`, `rand()` and `normal()`

`random()` is a function that returns random floats in the half-open interval [0.0, 1.0).

In [ ]:
np.random.random(size=2)

`rand()` is a function that creates an array of the given shape and populate it with random samples from a uniform distribution over [0, 1).

In [ ]:
np.random.rand(2, 4)

`normal()` is a function that draws random samples from a normal (Gaussian) distribution

In [ ]:
np.random.normal(size=2)

##### Evenly Spaced Arrays with `arange()`

`aranage()` is a function that returns evenly spaced values within a given interval.

In [ ]:
## np.arange(stop)
np.arange(10)

In [ ]:
## np.arange(start, stop)
np.arange(5, 10)

In [ ]:
## np.arange(start, stop, step)
np.arange(0, 1, .1)

##### Evenly Spaced Arrays with `linspace()`

`linspace()` is a function that returns evenly spaced numbers calculated over a specified interval.

In [ ]:
## linspace(start, stop, num=sample_count)
np.linspace(0, 1, 5)

In [ ]:
np.linspace(0, 1, 20)

In [ ]:
## linspace(start, stop, num=sample_count, endpoint=stop_inclusive)
np.linspace(0, 1, 20, False)

##### Reshaping Arrays with `reshape()`

`reshape()` is a function that gives a new shape to an array without changing its data.

In [ ]:
np.arange(10).reshape(2, 5)

In [ ]:
np.arange(10).reshape(5, 2)

##### Zero and One Matrixes with `zeros()` and `ones()`

`zeros()` is a function that returns a new array of given shape and type filled with zeros in numpy.float64 type by default.

In [ ]:
## 1-dimensional array
np.zeros(5)

In [ ]:
## 2-dimensional array
np.zeros((3, 3))

In [ ]:
## Specify the data type
np.zeros((3, 3), dtype=np.int64)

`ones()` is a function that returns a new array of given shape and type filled with ones in numpy.float64 type by default.

In [ ]:
## 1-dimensional array
np.ones(5)

In [ ]:
## 2-dimensional array
np.ones((3, 3))

In [ ]:
## Specify the data type
np.ones((3, 3), dtype=np.int64)

##### Arbitrary Matrix `empty()`

`empty()` is a function that returns a new array of uninitialized (arbitrary) data of the given shape, dtype, and order.

In [ ]:
## 1-dimensional array
np.empty(5)

In [ ]:
## 2-dimensional array
np.empty((2, 2))

In [ ]:
## Specify the data type
print(np.empty((2, 2), dtype=np.int8))
print(np.empty((2, 2), dtype=np.int16))
print(np.empty((2, 2), dtype=np.int32))
print(np.empty((2, 2), dtype=np.int64))

##### Diagonal Matrixes with `identity()` and `eye()`

`identity()` is a function that returns an identity array which is a square array with ones on the main diagonal.

In [ ]:
## Identity (diagonal) matrix
np.identity(3)

`eye()` is a function that returns an array where all elements are equal to zero, except for the k-th diagonal, whose values are equal to one.

In [ ]:
## Square diagonal matrix
np.eye(3, 3)

In [ ]:
## Rectangular diagonal matrix
np.eye(8, 4)

In [ ]:
## Rectangular diagonal matrix with positive k-th diagonal
np.eye(8, 4, k=1)

In [ ]:
## Rectangular diagonal matrix with negative k-th diagonal
np.eye(8, 4, k=-3)

## Pandas Introduction

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Pandas Introduction - Data Analysis with Python Course](https://www.youtube.com/watch?v=0xACW-8cZU0)

### Summary

In this lesson, we will learn different ways to create Pandas series and analyze their structure and attributes. We will use the population data of Group of Seven (G7) here.

### Lesson

In this section, we will analyze [Group of Seven (G7)](https://ec.europa.eu/info/food-farming-fisheries/farming/international-cooperation/international-organisations/g7_en), which includes these major economic powers: Canada, France, Germany, Italy, Japan, the United Kingdom and the United States.

In [264]:
import pandas as pd
import numpy as np

#### Pandas Series

> *Definition*: A Pandas Series is a 1-dimensional labeled array, similar to a column in a table.

We will start by analyzing the population of G7 member countries using a `pandas.Series` object. These population numbers are in millions of inhabitants.

In [265]:
## Create a Pandas Series object 
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
print(g7_pop)

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

Series can have a `name`. The name of a Series becomes its index or column name if it is used to form a DataFrame.

In [266]:
g7_pop.name = 'G7 Population in millions'
print(g7_pop)

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

Pandas series are pretty similar to NumPy arrays.

In [267]:
g7_pop.dtype

dtype('float64')

In [268]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

They are actually backed by NumPy arrays.

In [269]:
type(g7_pop.values)

numpy.ndarray

A Series has an index, similar to the automatic indexing of Python's lists.

In [270]:
print(g7_pop)
print(g7_pop.index)

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64
RangeIndex(start=0, stop=7, step=1)

In [271]:
print(g7_pop[0])
print(g7_pop[1])

35.467
63.951

Even though they look like Python lists or NumPy arrays, they are actually more similar to Python dictionaries. In contrast to lists, we can explicitly define the index.

In [272]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [273]:
print(g7_pop)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

We can create the Pandas series above all at once in one statement.

In [274]:
pd.Series([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
	index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'],
	name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

Compare it with the following table:

<p align="center">
	<img src="https://user-images.githubusercontent.com/872296/38149656-b5ce9816-3431-11e8-88e4-195756e25355.png" alt="G7.png" width="30%" height="30%">
</p>

We can say that a Series looks like an ordered Python dictionary. We can actually create a Series out of a dictionary.

In [275]:
pd.Series({
	'Canada': 35.467,
	'France': 63.951,
	'Germany': 80.94,
	'Italy': 60.665,
	'Japan': 127.061,
	'United Kingdom': 64.511,
	'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

We can also create a Pandas series out of a NumPy array.

In [276]:
pd.Series(np.array([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523]),
	index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'],
	name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

We can also create a Pandas series out of another series.

In [277]:
print(g7_pop)
print(pd.Series(g7_pop, index=['Canada', 'United States', 'Spain'], name='North America Population (millions)'))
print(g7_pop)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64
Canada            35.467
United States    318.523
Spain                NaN
Name: North America Population (millions), dtype: float64
Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

## Pandas Indexing and Conditional Selection

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Pandas Indexing and Conditional Selection - Data Analysis with Python Course](https://www.youtube.com/watch?v=-ZOrgV_aA9A)

### Summary

In this lesson, we will learn simple techniques to index and select data from Pandas series. We will also briefly touch on Pandas series slicing. Besides indexing and slicing, we will also learn how to use the boolean indexing technique to select data from Pandas series. Finally, we will see how to use some simple mathematical operations on Pandas series. However, these operations will not modify the original Pandas series until we assign the new values to the series with the assignment operator.

### Lesson

In [278]:
import pandas as pd

##### Indexing

In [279]:
print(g7_pop)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [280]:
## Select from index
print(g7_pop['Canada'])
print(g7_pop['Japan'])

35.467
127.061

Integer-location based indexing can also be used for selection by position with the `iloc` attribute.

In [281]:
g7_pop.iloc[0]

35.467

In [282]:
g7_pop.iloc[-1]

318.523

We can select multiple elements at once using a list of label based or integer position based indexes.

In [283]:
## Label based indexing
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [284]:
## Integer position based indexing
g7_pop.iloc[[0, 1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

##### Slicing

Slicing also works on Pandas series but note that the upper limit is included.

In [285]:
## Slicing 
g7_pop['Canada': 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

##### Conditional Selection by Boolean Indexing

The same boolean indexing technique applied to NumPy arrays we saw earlier can also be used for Pandas `Series`.

In [286]:
print(g7_pop)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

Using [Python Comparison Operators](https://www.w3schools.com/python/gloss_python_comparison_operators.asp) will generate boolean series. Then, we can use the boolean series as the selection criterion on another series.

In [287]:
## Generate a boolean series
print(g7_pop <= 70)
## Select series elements using the boolean series
print(g7_pop[g7_pop <= 70])

Canada             True
France             True
Germany           False
Italy              True
Japan             False
United Kingdom     True
United States     False
Name: G7 Population in millions, dtype: bool
Canada            35.467
France            63.951
Italy             60.665
United Kingdom    64.511
Name: G7 Population in millions, dtype: float64

In [288]:
## Generate a boolean series
print(g7_pop > 80)
## Select series elements using the boolean series
print(g7_pop[g7_pop > 80])

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [289]:
## Use the mean() method to get the mean value
print(g7_pop.mean())
## Use the std() method to get the standard deviation value
print(g7_pop.std())

107.30257142857144
97.24996987121581

In [290]:
## Conditional selection
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

Logical operators:

* `&` AND
* `|` OR
* `~` NOT

Use logical operators to combine selection conditions.

In [291]:
## Selection with multiple conditions - OR
g7_pop[(g7_pop > 80) | (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [292]:
## Selection with multiple conditions - AND
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in millions, dtype: float64

In [293]:
## Selection with multiple conditions based on method values
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

##### Operations and Methods

Pandas series also support vectorized operations and aggregation functions as Numpy arrays.

In [294]:
print(g7_pop)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [295]:
## The arithemetic operation applied to every single element in the series
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [296]:
## Mean of all elements in the series
g7_pop.mean()

107.30257142857144

In [297]:
## Mean of certain elements in the series
g7_pop['France': 'Italy'].mean()

68.51866666666666

In [298]:
## Use NumPy function with Pandas data series
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

##### Modifying Series

The above statements did not modify the original series. We can modify it by assigning a new value with the `=` assignment operator.

In [299]:
## Single value
print(g7_pop)
g7_pop['Canada'] = 40.5
print(g7_pop)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64
Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [300]:
## Last row
print(g7_pop)
g7_pop.iloc[-1] = 500
print(g7_pop)

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64
Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [301]:
print(g7_pop[g7_pop < 70])
## Change the population of all those countries with the value less than 70 million 
g7_pop[g7_pop < 70] = 99.99

Canada            40.500
France            63.951
Italy             60.665
United Kingdom    64.511
Name: G7 Population in millions, dtype: float64

In [303]:
print(g7_pop)

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: G7 Population in millions, dtype: float64

## Pandas DataFrames

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Pandas DataFrames - Data Analysis with Python Course](https://www.youtube.com/watch?v=7SgFBYXaiH0)

### Summary

In this lesson, we will look into Pandas DataFrames - the simplest way to create one, their data structure and properties. We will also learn selection techniques using indexing and slicing on DataFrames, just as what we did with Series.

### Lesson

##### Pandas DataFrame

A Pandas `DataFrame` is a 2-dimensional data structure, like a 2 dimensional array, or a table with rows and columns. It is a tabular structure that contains 2-dimensional data and its corresponding labels. DataFrames are widely used in data science, machine learning, scientific computing, and many other data-intensive fields. In many cases, DataFrames are faster, easier to use, and more powerful than tables or spreadsheets because they are an integral part of the Python and NumPy ecosystems. It is tightly integrated with `Series`.

In [2]:
import pandas as pd
import numpy as np

We will continue using data about G7 countries but we will analyze Pandas DataFrames this time. 
As mentioned above, a DataFrame looks a lot like a table (see [this table here](https://docs.google.com/spreadsheets/d/1IlorV2-Oh9Da1JAZ7weVw86PQrQydSMp-ydVMH135iI/edit?usp=sharing)).

Creating DataFrames manually can be tedious. We have to specify the columns and their values one by one. See the following cell. Therefore, we will be pulling the data from a Database, a data file like CSV file or the web most of the time.

In [3]:
## Create a DataFrame by inputting values one by one
df = pd.DataFrame({
	'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
	'GDP': [1785387, 2833687, 3874437, 2167744, 4602367, 2950039, 17348075],
    'Surface Area': [9984670, 640679, 357114, 301336, 377930, 242495, 9525067],
    'HDI': [0.913, 0.888, 0.916, 0.873, 0.891, 0.907, 0.915],
    'Continent': ['America', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'America']
	})

In [4]:
## Automatic indexing using integer indexes
print(df)

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

DataFrames also have indexes. Pandas automatically assigns a numeric, auto-incremental index to each "row" in our DataFrame. In this example, we know that each row represents a country so we will replace the integer index with label indexes that represent the G7 countries.

In [5]:
## Change the default integer indexes to label indexes
df.index = [
	'Canada',
	'France',
	'Germany',
	'Italy',
	'Japan',
	'United Kingdom',
	'United States',
]

In [6]:
## DataFrame with label indexes
print(df)

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

Now, this DataFrame looks a lot like the spreadsheet table below.

<p align="center">
	<img src="https://user-images.githubusercontent.com/872296/38153492-72c032ca-3443-11e8-80f4-9de9060a5127.png" alt="G7 Table.png" width="60%" height="60%">
</p>

In [7]:
## Check column names of the DataFrame
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [8]:
## Check row names of the DataFrame
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [9]:
## Get the number of elements in the DataFrame
df.size

35

In [10]:
## Get a tuple representing the dimensionality of the DataFrame
df.shape

(7, 5)

In [11]:
## Return a Series with the data type of each column 
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [12]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

In [13]:
## Print a concise summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [14]:
## Generate descriptive statistics of the DataFrame
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

##### Indexing, Selection and Slicing

Individual rows and columns in the DataFrame can be selected with regular indexing. The result is a Pandas `Series`.

In [15]:
print(df)

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [16]:
## Select a row using a label index
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [17]:
## Select a row using an integer position index
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [18]:
## Select a column using a label index
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

Note that the `index` of the returned Series is the same as that of the original DataFrame and its `name` is the name of the selected column. To see a more DataFrame-like format, use the `to_frame()` method.

In [19]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

Similar to NumPy arrays and Pandas series, we can select multiple columns of a Pandas DataFrame. The result is another `DataFrame`.

In [20]:
## Select columns using a list of labels
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

Slicing works differently. It slices horizontally and returns rows.

In [21]:
## Select rows using slicing
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

To select rows with labels, use the `loc` attribute.

In [22]:
## Select a row using a label index
df.loc['Italy']

Population       60.665
GDP             2167744
Surface Area     301336
HDI               0.873
Continent        Europe
Name: Italy, dtype: object

In [23]:
## Select multiple rows using label indexes
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

We can also select columns at the same time. Pass the column names as the 2nd argument.

In [24]:
## Single column with a string label
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [25]:
## Multiple columns with a list of labels 
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

The `iloc` attribute works similarly as direct slicing of DataFrame. It takes integer position based indexes.

In [26]:
## Full DataFrame
print(df)
## Direct slicing
print(df[1:3])
## Select rows with `iloc`
print(df.iloc[1:3])

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America
         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

But it can also work with a single integer index.

In [27]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [28]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

Or, a list of integer indexes.

In [29]:
df.iloc[[0, 2, -1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
Germany            80.940   3874437        357114  0.916    Europe
United States     318.523  17348075       9525067  0.915   America

As with `loc`, `iloc` also allows row slicing and column indexing simultaneously.

In [30]:
## Single column with an integer position index
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [31]:
## Multiple columns with a list of integer position indexes
df.iloc[1:3, [0, 3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

We can also "crop" a table by slicing both rows and columns.

In [32]:
## Row and column slicing with `iloc`
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

Row-level selection works better with `loc` and `iloc` and hence are recommended over direct slicing (`df[i:j]`).

## Pandas Conditional Selection and Modifying DataFrames

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Pandas Conditional Selection and Modifying DataFrames - Data Analysis with Python Course](https://www.youtube.com/watch?v=BFlH0fN5xRQ)

### Summary

### Lesson

##### Conditional Selection with Boolean Series

We applied conditional selection to `Series` before. It will also work on `DataFrame`. After all, a `DataFrame` is a collection of `Series`.

In [33]:
print(df)

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [34]:
## Generate a boolean series
print(df['Population'] > 70)
## Select DataFrame rows using the boolean series
print(df.loc[df['Population'] > 70])

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool
               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

We can also add column selection by passing column names as the 2nd argument.

In [35]:
## Select DataFrame rows using the boolean series and a single column with a label index
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [36]:
## Select DataFrame rows using the boolean series and multiple columns with a list of indexes
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

##### Dropping Rows and Columns

Opposed to the concept of selection, we have "dropping". Instead of specifying which values we would like to select, we could point out which ones we would like to `drop()`.

In [40]:
print(df)

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [41]:
## Drop a single row 
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [45]:
## Drop multiple rows
df.drop(['Canada', 'Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [46]:
## Drop a single column
df.drop(columns='Population')

                     GDP  Surface Area    HDI Continent
Canada           1785387       9984670  0.913   America
France           2833687        640679  0.888    Europe
Germany          3874437        357114  0.916    Europe
Italy            2167744        301336  0.873    Europe
Japan            4602367        377930  0.891      Asia
United Kingdom   2950039        242495  0.907    Europe
United States   17348075       9525067  0.915   America

In [43]:
## Drop multiple rows
df.drop(columns=['Population', 'HDI'])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

We can also use the `axis` parameter to specify which axis we want to drop.

In [47]:
## Axis 0 for rows
df.drop(['Italy', 'Canada'], axis=0)

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [48]:
## Axis 1 for columns
df.drop(['Population', 'HDI'], axis=1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [55]:
# df.drop(['Canada', 'Germany'], axis='index')
df.drop(['Canada', 'Germany'], axis='rows')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [50]:
df.drop(['Population', 'HDI'], axis='columns')

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

All these `drop()` methods return a new `DataFrame`. To modify it in place, use the `inplace` parameter.

## Pandas Creating Columns

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Pandas Creating Columns - Data Analysis with Python Course](https://www.youtube.com/watch?v=_sSo2XZoB3E)

### Summary

### Lesson

## Data Cleaning Introduction

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Data Cleaning Introduction - Data Analysis with Python Course](https://www.youtube.com/watch?v=ovYNhnltVxY)

### Summary

### Lesson

## Data Cleaning with DataFrames

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Data Cleaning with DataFrames - Data Analysis with Python Course](https://www.youtube.com/watch?v=sTMN_pdI6S0)

### Summary

### Lesson

## Data Cleaning Duplicates

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Data Cleaning Duplicates - Data Analysis with Python Course](https://www.youtube.com/watch?v=kj7QqjXhH6A)

### Summary

### Lesson

## Data Cleaning and Visualizations

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Data Cleaning and Visualizations - Data Analysis with Python Course](https://www.youtube.com/watch?v=mHjxzFS5_Z0)

### Summary

### Lesson

## Reading Data Introduction

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Reading Data Introduction - Data Analysis with Python Course](https://www.youtube.com/watch?v=cDnt02BcHng)

### Summary

### Lesson

## Reading Data CSV and TXT

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Reading Data CSV and TXT - Data Analysis with Python Course](https://www.youtube.com/watch?v=ViGEv0zOzUk)

### Summary

### Lesson

## Reading Data from Databases

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Reading Data from Databases - Data Analysis with Python](https://www.youtube.com/watch?v=MtgXS1MofRw)

### Summary

### Lesson

## Parsing HTML and Saving Data

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Parsing HTML and Saving Data - Data Analysis with Python Course](https://www.youtube.com/watch?v=bJaqnTWQmb0)

### Summary

### Lesson

## Python Introduction

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Python Introduction - Data Analysis with Python Course](https://www.youtube.com/watch?v=PrQV9JkLhb4)

### Summary

### Lesson

## Python Functions and Collections

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Python Functions and Collections - Data Analysis with Python Course](https://www.youtube.com/watch?v=NzpU17ZVlUw)

### Summary

### Lesson

## Python Iteration and Modules

<img src="https://user-images.githubusercontent.com/95575665/168158125-0d826c1a-ffea-4ea9-a2bc-f3b0f4f0b99a.png" alt="youtube-logo.png" width="15" height="10"> YouTube: [Python Iteration and Modules - Data Analysis with Python Course](https://www.youtube.com/watch?v=XzosGWLafrY)

### Summary

### Lesson